version: 2.1
orbs: 
  node: circleci/node@5.0.1 
  aws-cli: circleci/aws-cli@3.0.0 
  eb: circleci/aws-elastic-beanstalk@2.0.1 
jobs:
  CI_CD:
    docker: 
      - image: "cimg/base:stable"
    steps: 
      - node/install 
      - checkout 
      - aws-cli/setup 
      - eb/setup 
      - run:
          name: "Checking Versions"
          command: |
            node --version
      - run:
          name: Front-End Install
          command: |
            npm run frontend:install
      - run:
          name: Back-End Install
          command: |
            npm run api:install
      - run:
          name: Front-End lint
          command: |
            npm run frontend:lint
      - run:
          name: Front-End Build
          command: |
            nvm install v14.15.0
            npm run frontend:build
      - run:
          name: Back-End Build
          command: |
            nvm install v14.15.0
            cd udagram/udagram-api/
            eb init udagram-api --platform node.js --region us-east-1
            cd ..
            cd ..
            npm run api:build
      
      - run:
          name: Front-End Deploy
          command: |
            nvm install v14.15.0
            npm run frontend:deploy
      - run:
          name: Back-End Deploy
          command: |
            nvm install v14.15.0
            npm run api:deploy
workflows: 
  udagram:
    jobs:
      - CI_CD:
          filters:  
            branches: 
              only: main 